/* Vars */

$menu-bg: #222222;
$title-bg: #F1E4E6;
$white: #ffffff;
$grey-f8: #F8F8F8;
$grey-e1: #e1e1e1;
$normal-text: rgba(34, 34, 34, 1);
$inverted-text: rgba(255, 255, 255, 1);
$highlighted: rgba(241, 109, 127, 1);
$item-color: rgba(243, 237, 237, 1);
$card-fade: rgba(33, 22, 22, 0.7);

$card-width: 360px;
$card-gap: 30px;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $normal-text;
}

img {
  width: 100%;
}

ol, ul, ol > li, ul > li {
  list-style: none;
}

.link {
  display: block;
  padding: 10px;
}

.tac {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.highlighted {
  color: $highlighted;
}

.flex {
  display: flex;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

/* Container implementation */
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* Common styles */

.card__box {
  display: flex;
  gap: $card-gap;
  flex-wrap: wrap;

  .card {
    position: relative; // for "Add cart" button
    //width: 360px; // Card width
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 0;

    &__link,
    &__add-link {
      display: block;
    }

    &__link {
      background-color: #F8F8F8;
    }

    &__image {
      position: relative; // for card fade out layer
      width: 100%;
      background-color: $grey-f8;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgb(58, 56, 56);
        transition: opacity .3s ease-in-out;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &:hover .card__image::before {
      opacity: 0.83;
    }

    .card__add-link {
      display: block;
      position: absolute;
      top: 150px;
      left: 50%;
      opacity: 0;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      padding: 10px 12px;
      white-space: nowrap;
      transition: all .2s ease-in-out;

      img {
        width: 20px;
        vertical-align: middle;
        margin-right: 12px;
        filter: invert(0);
        transition: filter .2s ease-in-out;
      }

      &:hover {
        background-color: #fff;
        color: $normal-text;

        img {
          filter: invert(1);
        }
      }
    }

    &:hover {
      //box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);

      .card__add-link {
        opacity: 1;
      }
    }
  }
}

/* Button styles */
.btn-default {
  display: block;
  text-align: center;
  border-radius: 0;
  transition: all .2s ease-in-out;
}

.btn {
  @extend .btn-default;
  color: $highlighted;
  border: 1px solid $highlighted;
  background-color: $white;

  &:hover {
    color: $white;
    background: $highlighted;
    border: 1px solid $highlighted;
    animation: vibrate-3 0.5s linear 2s infinite both;
  }
}

.btn-grey {
  border: 1px solid $grey-e1;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #4a4a4a;

  &:hover {
    color: $highlighted;
    background: $white;
    border: 1px solid $highlighted;
  }
}

.btn-inv {
  @extend .btn-default;
  color: $white;
  border: 1px solid $highlighted;
  background-color: $highlighted;

  &:hover {
    color: $highlighted;
    background-color: $white;
    border: 1px solid $highlighted;
  }
}




