@import "common";
@import "header";


.brand {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    padding-left: 64px;
  }

  &__name {
    margin-top: 40%;
    border-left: 12px solid $highlighted;
    padding-left: 16px;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

}

.trend {
  padding-top: 64px;
  padding-bottom: 96px;

  &__box {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__card {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__name {
    font-size: 16px;
    line-height: 19px;
    color: $white;
  }

  &__cat {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  margin-bottom: 96px;

  &__header {
    .title {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      letter-spacing: 0.025em;
    }

    .text {
      font-size: 14px;
      letter-spacing: 0.025em;
      color: #9f9f9f;
    }

    .text-mt-6 {
      margin-top: 6px;
    }

  }

  .card {
    width: $card-width;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 24px 16px;
      gap: 16px;
    }

    &__prod-name {
      font-size: 13px;
      line-height: 16px;
      color: #000000;
    }

    &__prod-desc {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
    }

    &__prod-price {
      font-size: 16px;
      line-height: 19px;
      color: $highlighted;
    }

    &__add-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      transform: translate(-50%, 0);
    }

    &:hover {
      .card__add-link {
        transform: translate(-50%, 38px);
      }
    }
  }

  &__all-btn {
    display: block;
    padding: 15px 22px;
    width: max-content;
  }
}

.features {
  background-color: $normal-text;
  color: $white;

  &__box {
    display: flex;
    justify-content: space-between;
    padding: 103px 0 104px;
    column-gap: 2rem;
  }

  &__item {
    flex: 0 1 315px;
    min-width: 200px;
    text-align: center;
    color: $white;
  }

  &__item-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    text-align: center;
  }

  &__item-heading {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin: 25px auto 16px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    //word-break: break-all;
  }
}

@import "footer";

/* Dropdown menu break query */
@media screen and (max-width: 1604px) {
  .dd-menu {
    position: relative;

    &__wrapper {
      position: unset;
    }

    &__box {
      right: 0;
    }
  }
}

/* Laptop (1172px - 768px) */
@media screen and (max-width: 1171.9px) {
  $card-gap: 16px;

  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .brand {
    &__right {
      padding-left: 40px;
    }

    &__title {
      font-size: 44px;
      line-height: 52px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .menu__box {
    padding: 0 16px;
  }

  .trend {
    padding-top: 20px;
    padding-bottom: 154px;

    &__box {
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  .featured {
    margin-bottom: 64px;

    &__header {
      padding-bottom: 26px;
    }
  }

  .card__box {
    gap: $card-gap;
    width: calc((2 * $card-width) + $card-gap);
  }

  .features {
    &__box {
      width: 340px;
      flex-direction: column;
      gap: 46px;
      padding: 48px 0 64px;
      margin: 0 auto;
    }

    &__item {
      flex: 0;
    }
  }

  .subscribe {
    height: auto;
    flex-direction: column;
    align-items: center;
    background-position-x: -300px;

    &__review-box {
      width: $card-width;
      padding-top: 60px;
    }

    &__form {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 140px;
    }
  }

  .bottom-bar {
    padding: 0 30px 0 32px;
  }
}

/* Phone (768px - 414px) */
@media screen and (max-width: 767.9px) {
  .menu__link_wide {
    display: none;
  }

  .brand {
    &__left {
      display: none;
    }

    &__right {
      width: 100%;
      height: 375px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
    }

    &__name {
      margin: 0;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .trend {
    padding-top: 64px;
    padding-bottom: 64px;

    &__box {
      flex-direction: column;
      gap: 32px;
      margin-bottom: 32px;
    }

    &__card_wide {
      height: 111px;
    }
  }

  .card__box {
    width: $card-width;
  }

  .featured {
    gap: 38px;
    margin-bottom: 96px;
  }

  .features__box {
    padding-bottom: 80px;
  }

  .subscribe {
    .reviewer__text {
      font-size: 18px;
      line-height: 22px
    }

    &__form-title {
      font-size: 24px;
      line-height: 36px;
    }

    &__form-subtitle {
      font-size: 14px;
      line-height: 22px;
    }

    &__form-label {
      width: 340px;
      padding-top: 22px;
    }

    &__form-email {
      width: calc(100% - 92px);
    }
  }

  .bottom-bar {
    height: 100%;
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 42px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 374.9px) {
  .featured {
    &.center {
      padding: 0 8px;
    }

    .card {
      width: 100%;

      &__box {
        width: 100%;
      }

      &__prod-desc {
        font-size: 12px;
      }
    }
  }

  .features__box {
    width: 100%;
  }

  .subscribe {
    &__review-box {
      width: 100%;
    }

    &__form-label {
      width: 100%;
    }

    &__form-email {
      width: calc(100% - 92px);
    }
  }
}
