@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$menu-bg: #222222;
$title-bg: #F1E4E6;
$normal-text: rgba(34, 34, 34, 1);
$inverted-text: rgba(255, 255, 255, 1);
$highlighted-text: rgba(241, 109, 127, 1);
$item-color: rgba(243, 237, 237, 1);
$card-fade: rgba(33, 22, 22, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: $normal-text;
}

.link {
  display: inline-block;
  width: inherit;
  height: inherit;
}


.wrapper {
  min-width: max-content;
  white-space: nowrap;
  //width: 100%;
}

.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.menu {
  background-color: $menu-bg;
  height: 75px;
  width: 100%;
  background-repeat: no-repeat;

  &-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 1 1 100px;
    gap: 33px;

    div {
      background-repeat: no-repeat;
    }

    .logo {
      width: 44px;
      height: 38px;
      margin-left: 1px;
      background-image: url("./img/logo.svg");
    }

    .search {
      flex-grow: 1;
      margin-left: 8px;
      width: 26px;
      height: 26px;
      background-image: url("./img/search.svg");
    }

    .burger {
      width: 32px;
      height: 23px;
      background-image: url("./img/burger.svg");
    }

    .registration {
      width: 29px;
      height: 29px;
      background-image: url("./img/registration.svg");
    }

    .cart {
      position: relative;
      width: 32px;
      height: 29px;
      background-image: url("./img/cart.svg");
      margin-right: 10px;

      &:after {
        position: absolute;
        content: "5";
        width: 19px;
        height: 19px;
        right: -8px;
        top: -6px;
        color: $inverted-text;
        background-color: $highlighted-text;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.header {
  display: flex;
  width: 100%;
  height: 764px;
  background-color: $title-bg;

  &-box {
    display: flex;
    width: inherit;
    height: inherit;

    .left {
      flex: 1 0 50%;
      background-image: url("./img/man-1.png");
      background-repeat: no-repeat;
      background-position: -225px 0;
    }

    .right {
      flex: 1 0 50%;
      padding-left: 63px;
      padding-top: 290px;

      .title {
        position: relative;
        margin: 0;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;

        &:before {
          float: left;
          content: "";
          width: 12px;
          height: 92px;
          margin-right: 16px;
          background-color: $highlighted-text;
        }
      }

      .subtitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;

        &-hl {
          color: $highlighted-text;
        }
      }
    }
  }
}

.trends {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  gap: 30px;
  margin: 65px auto 96px;


  .item {
    flex: 1 0 30%;
    width: 360px;
    height: 260px;

    .link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    .trend {
      color: $inverted-text;
      font-size: 16px;
      line-height: 19px;
    }

    .category {
      color: $highlighted-text;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    &-1 {
      background: linear-gradient($card-fade, $card-fade),
      url('./img/card-1.png');
    }

    &-2 {
      background: linear-gradient($card-fade, $card-fade),
      url('./img/card-2.png');
    }

    &-3 {
      background: linear-gradient($card-fade, $card-fade),
      url('./img/card-3.png');
    }

    &-4 {
      height: 180px;
      background: linear-gradient($card-fade, $card-fade),
      url('./img/card-4.png');
    }
  }

  .item-wide {
  }
}